
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мой сайт</title>
</head>
<body>
  <header>
    <nav>
            
      <div class="top-tabs">
          <ul class="top-links">
              <a href="#"class="tab">Главная</a>
              <a href="#" class="tab">Инвентарь</a></li>
              <a href="#"class="tab">Телеграмм бот</a>
              <a href="#"class="tab">Заработать</a>
            
            
            
        
      
  
        </ul>
  </div>
  </nav>
  </header>

  <main>
    <section id="about">
      <div class="about-container">
        <h1>О нас</h1>
        <div class="about-card">
          <h2>{{.URL}}</h2>
          <img src={{.URL}} alt="Описание GIF" />
          <p>Свяжитесь с нами, чтобы узнать больше!</p>
          <button class="btn-contact">Связаться с нами</button>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 У меня нет прав</p>
  </footer>
</body>
</html>
